<html>
  <head>
  <style>
  body {
    background: <%= background_color %>
  }
</style>
</head>
  <body>
    <p>
     <%= output %>
    </p>
  </body>
</html>

<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>
